---
---

$brand-primary: #3c8dbc;
$brand-danger: #dd4b39;
$brand-success: #00a65a;
$brand-info: #555555;
$brand-warning: #f39c12;
$brand-primary-accent: #286090;
$brand-secondary: #2c3e50;
$brand-dark-accent: #222d32;

$font-size-base: 15px;
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "Open Sans", sans-serif;
$text-color: $brand-secondary;
$gray-lighter: lighten(#000, 93.5%);

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 160px;
    padding-top: 51px;
    font-family: $font-family-sans-serif;
    font-size: 15px;
    background-color: #fafafa;

    @media(min-width:768px) {
        margin-bottom: 101px;
    }
}

h1, h2, h3, h4, h5 {
    font-family: $headings-font-family;
    margin-top: 0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

a {
    color: $brand-primary;
}

.navbar-inverse {
    background-color: $brand-dark-accent;
    color: white;

    .navbar-brand {
        font-family: $headings-font-family;
    }

    .navbar-brand, .navbar-nav > li > a {
        color: white;
    }

    .navbar-nav > li > a {
        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    .navbar-toggle {
        border-color: darken($brand-dark-accent, 5%);
    }

    .navbar-toggle:focus, .navbar-toggle:hover {
        background-color: $brand-secondary;
    }
}

.search-header {
    background-color: $brand-primary;
    padding: 50px 0;
    margin-bottom: 20px;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    background-color: $brand-dark-accent;
    color: white;
    padding: 30px 0;

    @media(min-width:768px) {
        height: 101px;

        .container {
            position: relative;

            .social-buttons {
                position: absolute;
                right: 0;
                top: -7px;
            }
        }
    }
}

.container-content {
    margin-top: 20px;
}

.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn-outline {
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $brand-primary;
        background: white;
        border: solid 2px white;
    }
}


.panel-articles {
    ul, ol {
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 20px;
    }
}

.breadcrumb {
    border: 1px solid #ddd;
}

@media (max-width: 767px) {
    .fa-support.visible-xs {
        display: inline-block !important;
    }
}
