---
layout: default
title: Help, FAQ, and Support
---

<div class="search-header">
<div class="container">
    <form action="/search/" method="get">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Type your problem here..." name="q">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Search</button>
            </span>
        </div>
    </form>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-8">
        <div class="row">
        {% for category in site.categories %}
        {% if category.featured == true %}
            <div class="col-md-6">
                <h3>{{category.title}}</h3>
                <ul>
                {% for article in site.articles %}
                {% if article.category == category.title and article.featured == true %}
                    <li><a href="{{article.url}}">{{article.title}}</a></li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <h3>Categories</h3>
        <ul>
        {% for category in site.categories %}
            <li><a href="{{category.url}}">{{category.title}}</a></li>
        {% endfor %}
        </ul>
        <h3>Popular</h3>
        <ul>
        {% for article in site.articles %}
        {% if article.popular == true %}
            <li><a href="{{article.url}}">{{article.title}}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
</div>
