<div class="card">
    <h4 class="card-header"><i class="fa fa-shield"></i> Connect with Us</h4>
    <div class="card-body">
        <p class="card-text"><i class="fa fa-reddit"></i> <a href="https://www.youtube.com/watch?v=q-81Bdl14fk" target="_blank">Reddit</a></p>
        <p class="card-text"><i class="fa fa-twitter"></i> <a href="https://twitter.com/Bitwarden" target="_blank">Twitter</a></p>
        <p class="card-text"><i class="fa fa-youtube"></i> <a href="https://www.youtube.com/channel/UCId9a_jQqvJre0_dE2lE_Rw" target="_blank">Youtube</a></p>
    </div>
</div>
