<div class="card mb-3">
    <h4 class="card-header"><i class="fa fa-bullhorn"></i> Connect with Us</h4>
    <div class="card-body">
        <p class="card-text"><i class="fa fa-shield"></i> <a href="https://community.bitwarden.com/" target="_blank">Forums</a></p>
        <p class="card-text"><i class="fa fa-calendar"></i> <a href="https://www.crowdcast.io/bitwarden" target="_blank">Events</a></p>
        <p class="card-text"><i class="fa fa-reddit"></i> <a href="https://reddit.com/r/bitwarden" target="_blank">Reddit</a></p>
        <p class="card-text"><i class="fa fa-twitter"></i> <a href="https://twitter.com/Bitwarden" target="_blank">Twitter</a></p>
    </div>
</div>
