<div class="card">
    <h4 class="card-header"><i class="fa fa-question-circle-o"></i> Resources</h4>
    <div class="card-body">
        <p class="card-text"><i class="fa fa-shield"></i> <a href="https://vault.bitwarden.com" target="_blank">Open your Vault</a></p>
        <p class="card-text"><i class="fa fa-download"></i> <a href="{{site.baseurl}}/download" target="_blank">Download Bitwarden</a></p>
        <p class="card-text"><i class="fa fa-edit"></i> <a href="https://github.com/bitwarden/help/issues/new?body=Suggestion or Edit for: bitwarden.com/help{{ page.url }}" target="_blank">Suggest an Edit</a></p>
        <p class="card-text"><i class="fa fa-comments"></i> <a href="https://community.bitwarden.com/c/support/" target="_blank">Ask the Community</a></p>
        <p class="card-text"><i class="fa fa-envelope"></i> <a href="{{site.baseurl}}/contact" target="_blank">Contact Us</a></p>
    </div>
</div>
