<div class="card mb-3">
    <h4 class="card-header"><i class="fa fa-question-circle-o"></i> Resources</h4>
    <div class="card-body">
        <p class="card-text"><i class="fa fa-download"></i> <a href="https://bitwarden.com/download" target="_blank">Download Bitwarden</a></p>
        <p class="card-text"><i class="fa fa-wrench"></i><a href="https://community.bitwarden.com/t/about-the-feature-requests-category" target="_blank"> Make a Feature Request</a></p>
        <p class="card-text"><i class="fa fa-edit"></i> <a href="https://github.com/bitwarden/help/issues/new?assignees=&labels=&template=help-center-edit-suggestion.md&title=" target="_blank">Suggest an Edit</a></p>
        <p class="card-text"><i class="fa fa-comments"></i> <a href="https://community.bitwarden.com/c/support/" target="_blank">Ask the Community</a></p>
        <p class="card-text"><i class="fa fa-envelope"></i> <a href="https://bitwarden.com/contact" target="_blank">Contact Us</a></p>
    </div>
</div>
