<nav class="navbar navbar-expand-lg sticky-top navbar-dark" id="main-nav">
    <a class="navbar-brand" href="https://bitwarden.com" onclick="gaEvent('Nav Logo')">
        <img src="{{site.baseurl}}/images/logo-horizontal-white.svg" alt="Bitwarden Logo" style="width: 165px;">
    </a>
    <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="https://bitwarden.com/products">Products</a></li>
                <li class="nav-item"><a class="nav-link" href="https://bitwarden.com/download">Download</a></li>
                <li class="nav-item"><a class="nav-link" href="https://bitwarden.com/pricing/business/">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}">Help</a></li>
                <li class="nav-item"><a class="nav-link" href="https://bitwarden.com/blog/">Blog</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="https://vault.bitwarden.com/#/register/">Get Started</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="https://bitwarden.com/contact-sales/">Talk to Sales</a></li> -->
                <li class="nav-item"><a class="nav-link" href="https://vault.bitwarden.com/#/">Login</a></li>
            </ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
</div>
<nav class="search-navbar navbar navbar-light bg-light">
    <a class="search-sidebar-toggle d-block d-md-none py-2 px-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="menu" aria-expanded="false" aria-label="Toggle sidebar">
        Contents
        <i class="fa fa-chevron-down ml-1"></i>
    </a>
</nav>
