<nav class="navbar navbar-expand-lg sticky-top navbar-dark" id="main-nav">
    <a class="navbar-brand" href="https://bitwarden.com" onclick="gaEvent('Nav Logo')">
        <i class="fa fa-shield"></i>
        <span class="hidden-sm"><strong>bit</strong>warden</span>
    </a>
    <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="https://bitwarden.com/products"><b>Products</b></a></li>
                <li class="nav-item"><a class="nav-link" href="https://bitwarden.com/download"><b>Download</b></a></li>
                <li class="nav-item"><a class="nav-link" href="https://bitwarden.com/pricing/business/"><b>Pricing</b></a></li>
                <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}"><b>Help</b></a></li>
                <li class="nav-item"><a class="nav-link" href="https://bitwarden.com/blog/"><b>Blog</b></a></li>
                <li class="nav-item"><a class="nav-link" href="https://bitwarden.com/contact/"><b>Contact</b></a></li>
            </ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
</div>
<nav class="search-navbar navbar navbar-light bg-light">
    <a class="search-sidebar-toggle d-block d-md-none py-2 px-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="menu" aria-expanded="false" aria-label="Toggle sidebar">
        Contents
        <i class="fa fa-chevron-down ml-1"></i>
    </a>
</nav>
