<header>
  <div class="container">
      <form action="{{site.baseurl}}/search/" method="get">
          <div class="input-group input-group-lg">
              <input type="search" class="form-control" placeholder="Search the help center..."
                      id="search-box" name="q">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="submit" onclick="gaEvent('Search')">
                      <i class="fa fa-search"></i>
                      <span class="sr-only">Search</span>
                  </button>
              </span>
          </div>
      </form>
  </div>
</header>