<div class="card mb-3">
    <h4 class="card-header"><i class="fa fa-diamond"></i> What's Popular</h4>
    <div class="card-body">
        <p class="card-text"><i class="fa fa-file-o"></i> <a href="{{site.baseurl}}/article/import-from-lastpass">Import Data from Lastpass</a></p>
        <p class="card-text"><i class="fa fa-file-o"></i> <a href="{{site.baseurl}}/article/admin-reset">Admin Password Reset</a></p>
        <p class="card-text"><i class="fa fa-file-o"></i> <a href="{{site.baseurl}}/article/setup-two-step-login">Two-step Login Methods</a></p>
        <p class="card-text"><i class="fa fa-file-o"></i> <a href="{{site.baseurl}}/article/forgot-master-password">I Forgot my Master Password</a></p>
  </div>
</div>
