<div class="card">
    <h4 class="card-header"><i class="fa fa-film"></i> Videos</h4>
    <div class="card-body">
        <p class="card-text"><img src="../images/landing/video.png" width="50">  <a href="https://www.youtube.com/watch?v=q-81Bdl14fk" target="_blank">Our Community</a></p>
        <p class="card-text"><img src="../images/landing/video.png" width="50">  <a href="https://www.youtube.com/watch?v=UJTvlkgOdPE" target="_blank">A Case Study</a></p>
        <p class="card-text"><img src="../images/landing/video.png" width="50">  <a href="https://www.youtube.com/watch?v=rEr1_8xh8c8" target="_blank">Bitwarden Black Belt</a></p>
    </div>
</div>
