@import "bootstrap";

html {
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin-bottom: 465px;
}

@media(min-width:$screen-sm) {
    body {
        margin-bottom: 300px;
    }
}

.navbar-brand {
    @media(min-width:$screen-sm) {
        .fa {
            font-size: 1.33333333em;
            line-height: 0.75em;
            vertical-align: -15%;
        }

        &:hover {
            color: $navbar-inverse-link-hover-color !important;
        }
    }

    @media(max-width:$screen-xs-max) {
        font-size: 30px;
        padding-top: 25px;
        font-weight: 300;
    }
}

.navbar-nav {
    b {
        font-weight: 600;
    }
}

@media(max-width:$screen-xs-max) {
    .navbar-collapse {
        background-color: $brand-primary-accent;
        border: 0;
        @include box-shadow("inset 0 10px 10px -10px rgba(0,0,0,.35), inset 0 -10px 10px -10px rgba(0,0,0,.35);");
    }
}

header {
    padding: 10px 0 40px;
    color: #fff;
    position: relative;
    text-align: center;
    background: $brand-primary;
}

content {
    margin: 30px 0;
    display: block;
}

footer {
    background-color: $brand-dark-accent;
    height: 465px;
    margin: 0;
    color: #b8c7ce;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 16px;
    padding: 40px 0;

    h4 {
        color: #fff;
    }

    a {
        color: #8aa4af;

        &:hover {
            color: #fff;
        }
    }

    ul {
        li {
            padding-bottom: 10px;
        }
    }

    .social {
        i {
            font-size: 40px;
            margin-bottom: 10px;
        }
    }

    @media(min-width:$screen-md) {
        .social {
            margin-top: 40px;

            i {
                font-size: 55px;
            }
        }
    }

    @media(min-width:$screen-sm) {
        height: 300px;

        .social {
            margin-top: 0;
        }
    }
}

article {
}

.page-header {
    margin-top: 0;
    padding-left: 50px;

    i {
        float: left;
        margin-left: -50px;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1 {
}
