.article-header {
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding-bottom: 15px;
    font-weight: normal;

    i {
        margin-right: 10px;
    }
}

.article-card.card {
    margin-bottom: 1.5rem;

    .card-body {
        >*:first-child {
            margin-top: 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            display: flex;
            align-items: center;
            margin-top: 25px;
        }
    }

    .header-link {
        color: $text-muted;
        font-size: $h3-font-size;
        text-decoration: none;
        opacity: 0;
        margin-left: 5px;
    }

    h2:hover > .header-link,
    h3:hover > .header-link {
        opacity: .5;
        -webkit-transition: color .16s linear;
        transition: color .16s linear;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}

.search-results {
    small.text-muted {
        margin-left: 0.5rem;
    }
}