.bd-toc {
    @supports (position: sticky) {
        position: sticky;
        top: 4rem;
        height: subtract(100vh, 4rem);
        overflow-y: auto;
    }

    order: 2;
    border-left: 1px solid #eee;
    padding: 0;
    @include font-size(.875rem);

    h3 {
        padding: 1rem 1.5rem .5rem;
    }

    .section-nav {
        padding-left: 0;
    }
}

.toc-entry {
    display: block;

    a {
        display: block;
        padding: .125rem 1.5rem;
        color: #77757a;

        &:hover {
        color: $blue;
        text-decoration: none;
        }
    }
}
