---
layout: default
---

<div class="container">
    <h1 class="page-header">
        <i class="fa fa-file-text-o"></i>
        {{page.title}}
    </h1>
    <div class="breadcrumb">
        {{ page.categories | size | pluralize: 'Category', 'Categories' }}:
        {% for category in page.categories %}
        <a href="/{{category | slugify}}">{{category}}</a>{% if forloop.last != true %}, {% endif %}
        {% endfor %}
    </div>
    <div class="panel panel-default article">
        <div class="panel-body">
            {{content}}
        </div>
        {% assign tags_size = page.tags | size %}
        {% if tags_size > 0 %}
        <div class="panel-footer">
            <i class="fa fa-tags fa-fw"></i>
            {{ page.tags | join: ', ' }}
        </div>
        {% endif %}
    </div>
    <div class="row article-blocks">
        <div class="col-sm-6">
            <div class="panel panel-default panel-rate">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-thumbs-o-up"></i> Was this helpful?</h3>
                </div>
                <div class="panel-body">
                    <p>Rate this article:</p>
                    <div class="rw-ui-container"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            {% include contact.html %}
        </div>
    </div>
</div>

<script>
    (function (d, t, e, m) {
        // Async Rating-Widget initialization.
        window.RW_Async_Init = function () {
            RW.init({
                huid: "340409",
                uid: "1a448820f2de881574e56e07bffdd7e8",
                source: "website",
                options: {
                    "size": "medium",
                    "type": "nero",
                    "style": "thumbs",
                    "isDummy": false
                }
            });
            RW.render();
        };
        // Append Rating-Widget JavaScript library.
        var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
            l = d.location, ck = "Y" + t.getFullYear() +
            "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
            f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
            a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
        if (d.getElementById(id)) return;
        rw = d.createElement(e);
        rw.id = id; rw.async = true; rw.type = "text/javascript";
        rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
        s.parentNode.insertBefore(rw, s);
    }(document, new Date(), "script", "rating-widget.com/"));
</script>
