---
layout: default
---
{% assign catSize = page.categories | size %}

<h1 class="article-header">
    <i class="fa fa-file-text-o"></i>
    {{page.title}}
</h1>
{% if catSize > 0 %}
<div class="breadcrumb article-breadcrumb">
    {{ catSize | pluralize: 'Category', 'Categories' }}:
    {% for category in site.categories %}
    {% assign catFilename = category.path | filename %}
    {% if page.categories contains catFilename %}
    <span class="badge badge-pill badge-secondary">{{category.title}}</span>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

<div class="card article-card">
    <div class="card-body">
        <div class="d-xl-none bd-toc">
            {% include toc.html %}
        </div>

        {{content}}
    </div>
    {% assign tags_size = page.tags | size %}
    {% if tags_size > 0 %}
    <div class="card-footer">
        <i class="fa fa-tags fa-fw"></i>
        {{ page.tags | join: ', ' }}
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <h4 class="card-header">
                <i class="fa fa-thumbs-o-up"></i>
                Was this helpful?
            </h4>
            <div class="card-body">
                <p>Rate this article:</p>
                <div class="rw-ui-container"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        {% include contact.html %}
    </div>
</div>

<script>
    (function (d, t, e, m) {
        // Async Rating-Widget initialization.
        window.RW_Async_Init = function () {
            RW.init({
                huid: "340409",
                uid: "1a448820f2de881574e56e07bffdd7e8",
                source: "website",
                options: {
                    "size": "medium",
                    "type": "nero",
                    "style": "thumbs",
                    "isDummy": false
                }
            });
            RW.render();
        };
        // Append Rating-Widget JavaScript library.
        var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
            l = d.location, ck = "Y" + t.getFullYear() +
                "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
            f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
            a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
        if (d.getElementById(id)) return;
        rw = d.createElement(e);
        rw.id = id; rw.async = true; rw.type = "text/javascript";
        rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
        s.parentNode.insertBefore(rw, s);
    }(document, new Date(), "script", "rating-widget.com/"));
</script>
