---
layout: default
---
{% assign sorted_articles = site.articles | sort: 'order' %}

<h1 class="page-header">
    <i class="fa fa-folder-open-o"></i>
    {{page.title}}
</h1>
<div class="row">
    <div class="col-md-8 articles">
        <ol>
            {% for article in sorted_articles %}
            {% assign pageFilename = page.path | filename %}
            {% if article.categories contains pageFilename and article.hidden != true %}
            <li><a href="{{site.baseurl}}{{article.url}}">{{article.title}}</a></li>
            {% endif %}
            {% endfor %}
        </ol>
    </div>
    <div class="col-md-4">
        {% include contact.html %}
        <div class="panel panel-default articles" style="margin-bottom: 0;">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list-alt"></i> Categories</h3>
            </div>
            <div class="panel-body small">
                <ul>
                    {% for category in site.categories %}
                    {% if category.hidden != true %}
                    <li>
                        <a href="{{site.baseurl}}{{category.url}}">{{category.title}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>