<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% if page.title %}{{page.title}} | {% endif %}bitwarden Help &amp; Support</title>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic"
          rel="stylesheet" type="text/css">

    <link href="/css/styles.css?v={{'now' | date: "%s"}}"
          rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" onclick="gaEvent('Nav Logo')">
                    <i class="fa fa-shield"></i>
                    <span class="visible-xs-inline"><strong>bit</strong>warden</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li><a href="/">Help Center</a></li>
                    <li><a href="https://bitwarden.com/contact">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://bitwarden.com" onclick="gaEvent('Return')">
                            <i class="fa fa-share fa-flip-horizontal fa-fw"></i> Return to bitwarden.com
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="container">
            <form action="/search/" method="get">
                <div class="input-group input-group-lg">
                    <input type="search" class="form-control" placeholder="Search the help center..."
                           id="search-box" name="q">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                            <span class="sr-only">Search</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </header>

    <content>
        {{content}}
    </content>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <h4>Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://bitwarden.com">Home</a></li>
                        <li><a href="https://bitwarden.com/#download" onclick="gaEvent('Footer Download')">Download</a></li>
                        <li><a href="https://bitwarden.com/#organizations" onclick="gaEvent('Footer Business')">Business</a></li>
                        <li><a href="https://bitwarden.com/contact">Contact Us</a></li>
                        <li><a href="https://vault.bitwarden.com/#/" onclick="gaEvent('Footer Web Vault')">Web Vault</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <h4 class="invisible">&nbsp;</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://blog.bitwarden.com" onclick="gaEvent('Footer Blog')">Blog</a></li>
                        <li><a href="https://help.bitwarden.com" onclick="gaEvent('Footer Help')">Help/Support</a></li>
                        <li>
                            <a href="https://github.com/bitwarden" target="_blank" onclick="gaEvent('Footer Source Code')">
                                Source Code
                            </a>
                        </li>
                        <li><a href="https://bitwarden.com/privacy">Privacy Policy</a></li>
                        <li><a href="https://bitwarden.com/credits">Credits</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 social">
                    <h4>Follow Us</h4>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/bitwarden_app" title="Twitter" onclick="gaEvent('Follow Twitter')">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/bitwarden/" title="Facebook" onclick="gaEvent('Follow Facebook')">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/114869903467947368993" title="Google+"
                               onclick="gaEvent('Follow Google+')">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/bitwarden" title="GitHub" onclick="gaEvent('Follow GitHub')">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                    </ul>
                    &copy; 2015 - {{ 'now' | date: "%Y" }}, <br class="visible-sm" />8bit Solutions LLC
                </div>
            </div>
        </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>(window.jQuery || document.write('<script src="lib\/jquery\/jquery.min.js?v={{"now" | date: "%s"}}"><\/script>'));</script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>((window.jQuery && window.jQuery.fn && window.jQuery.fn.modal) || document.write('<script src="lib\/bootstrap\/js\/bootstrap.min.js?v={{"now" | date: "%s"}}"><\/script>'));</script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-81915606-10', 'auto');
        ga('send', 'pageview');

        function gaEvent(action) {
            ga('send', {
                hitType: 'event',
                eventCategory: 'main',
                eventAction: action
            });
        }
    </script>
</body>
</html>