<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#ffffff">

    <title>{% if page.title %}{{page.title}} | {% endif %}Bitwarden Help &amp; Support</title>

    <link rel="stylesheet" crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0= sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic"
          rel="stylesheet" type="text/css">

    <link href="{{site.baseurl}}/css/styles.css?v={{'now' | date: "%s"}}"
          rel="stylesheet" type="text/css">

    <link href="{{site.baseurl}}/lib/fluidbox/css/fluidbox.min.css?v={{'now' | date: "%s"}}"
          rel="stylesheet" type="text/css">

    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/images/icons/favicon-16x16.png">
    <link rel="mask-icon" href="{{site.baseurl}}/images/icons/safari-pinned-tab.svg" color="#3c8dbc">
    <link rel="manifest" href="{{site.baseurl}}/manifest.json">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{site.main_baseurl}}/" onclick="gaEvent('Nav Logo')">
                    <i class="fa fa-shield"></i>
                    <span class="visible-xs-inline"><strong>bit</strong>warden</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li><a href="{{site.baseurl}}/">Help Center</a></li>
                    <li><a href="https://community.bitwarden.com/">Forums</a></li>
                    <li><a href="{{site.main_baseurl}}/contact/">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{site.main_baseurl}}/" onclick="gaEvent('Return')">
                            <i class="fa fa-share fa-flip-horizontal fa-fw"></i> Return to bitwarden.com
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="container">
            <form action="{{site.baseurl}}/search/" method="get">
                <div class="input-group input-group-lg">
                    <input type="search" class="form-control" placeholder="Search the help center..."
                           id="search-box" name="q">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" onclick="gaEvent('Search')">
                            <i class="fa fa-search"></i>
                            <span class="sr-only">Search</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </header>

    <content>
        {{content}}
    </content>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <h4>Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="{{site.main_baseurl}}/">Home</a></li>
                        <li><a href="{{site.main_baseurl}}/#download">Download</a></li>
                        <li><a href="{{site.main_baseurl}}/careers/">Careers</a></li>
                        <li><a href="{{site.main_baseurl}}/contact/">Contact Us</a></li>
                        <li><a href="{{site.main_baseurl}}/credits/">Credits</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <h4 class="invisible">&nbsp;</h4>
                    <ul class="list-unstyled">
                        <li><a href="{{site.main_baseurl}}/blog" onclick="gaEvent('Footer Blog')">Blog</a></li>
                        <li>
                            <a href="https://community.bitwarden.com" target="_blank" rel="noopener"
                               onclick="gaEvent('Footer Forums')">
                                Community Forums
                            </a>
                        </li>
                        <li><a href="{{site.baseurl}}/">Help/Support</a></li>
                        <li><a href="{{site.main_baseurl}}/terms/">Terms of Service</a></li>
                        <li><a href="{{site.main_baseurl}}/privacy/">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 social">
                    <h4>Follow Us</h4>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/bitwarden" title="Twitter" onclick="gaEvent('Follow Twitter')"
                               target="_blank">
                                <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/bitwarden/" title="Facebook" onclick="gaEvent('Follow Facebook')"
                               target="_blank">
                                <i class="fa fa-facebook-square"></i><span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/bitwarden" title="GitHub" onclick="gaEvent('Follow GitHub')"
                               target="_blank">
                                <i class="fa fa-github"></i><span class="sr-only">GitHub</span>
                            </a>
                        </li>
                    </ul>
                    &copy; 2015 - {{ 'now' | date: "%Y" }}, <br class="visible-sm" />Bitwarden Inc.
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo= sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ=="></script>
    <script>(window.jQuery || document.write('<script src="{{site.baseurl}}/lib\/jquery\/jquery.min.js?v={{"now" | date: "%s"}}"><\/script>'));</script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" crossorigin="anonymous"
            integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4= sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd sha512-oBTprMeNEKCnqfuqKd6sbvFzmFQtlXS3e0C/RGFV0hD6QzhHV+ODfaQbAlmY6/q0ubbwlAM/nCJjkrgA3waLzg=="></script>
    <script>((window.jQuery && window.jQuery.fn && window.jQuery.fn.modal) || document.write('<script src="{{site.baseurl}}/lib\/bootstrap\/js\/bootstrap.min.js?v={{"now" | date: "%s"}}"><\/script>'));</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"
            crossorigin="anonymous" integrity="sha256-+nuEu243+6BveXk5N+Vbr268G+4FHjUOEcfKaBqfPbc= sha384-ugp/e34LtoER7mwf3SLygR0OL+STa4FTLzk7MRbpY/usE4VV+24hBxRXRS6g5ZJy sha512-JZSo0h5TONFYmyLMqp8k4oPhuo6yNk9mHM+FY50aBjpypfofqtEWsAgRDQm94ImLCzSaHeqNvYuD9382CEn2zw=="></script>
    <script src="{{site.baseurl}}/lib/fluidbox/js/jquery.fluidbox.min.js"></script>
    {% if jekyll.environment == "production" %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-81915606-10', 'auto');
        ga('send', 'pageview');

        function gaEvent(action) {
            ga('send', {
                hitType: 'event',
                eventCategory: 'main',
                eventAction: action
            });
        }
    </script>
    {% else %}
    <script>
        function gaEvent(action) {
            // do nothing
        }
    </script>
    {% endif %}
    <script>
        $(function () {
            var lightboxOpen = false,
                lightboxSelector = 'a[rel="lightbox"]';

            $(lightboxSelector)
                .on('openstart.fluidbox', function () {
                    lightboxOpen = true;
                })
                .on('closestart.fluidbox', function () {
                    lightboxOpen = false;
                })
                .fluidbox();

            $(document).keydown(function (e) {
                if (lightboxOpen && e.keyCode === 27) {
                    $(lightboxSelector).trigger('close.fluidbox');
                }
            });

            $(window).scroll(function () {
                if (lightboxOpen) {
                    $(lightboxSelector).trigger('close.fluidbox');
                }
            });

            $('.article .panel-body > h2, .article .panel-body > h3').filter('[id]').each(function () {
                var header = $(this),
                    headerID = header.attr('id'),
                    anchorClass = 'header-link',
                    anchorIcon = '<i class="fa fa-link" aria-hidden="true"></i>';

                if (headerID) {
                    header.append($('<a />')
                        .addClass(anchorClass)
                        .attr({ 'href': '#' + headerID, 'aria-hidden': 'true', title: 'Permalink' })
                        .html(anchorIcon));
                }
                return this;
            });
        });
    </script>
</body>
</html>