<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#ffffff">

    <title>{% if page.title %}{{page.title}} | {% endif %}Bitwarden Help &amp; Support</title>

    <link rel="stylesheet" crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0= sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic"
          rel="stylesheet" type="text/css">

    <link href="{{site.baseurl}}/css/styles.css?v={{'now' | date: "%s"}}"
          rel="stylesheet" type="text/css">

    <link href="{{site.baseurl}}/lib/fluidbox/css/fluidbox.min.css?v={{'now' | date: "%s"}}"
          rel="stylesheet" type="text/css">

    {% for stylesheet in page.custom-stylesheet-list %}
    <link href="{{ stylesheet }}?v={{'now' | date: "%s"}}" rel="stylesheet">
    {% endfor %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/images/icons/favicon-16x16.png">
    <link rel="mask-icon" href="{{site.baseurl}}/images/icons/safari-pinned-tab.svg" color="#175DDC">
    <link rel="manifest" href="{{site.baseurl}}/manifest.json">
    <!-- Crazy Egg Script -->
    <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0094/3593.js" async="async"></script>
</head>

<body>
    {% include header.html %}

    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-md-3 col-xl-2 bd-sidebar">
                {% include sidebar.html %}
            </div>

            {% if page.url contains "article" %}
            <nav class="d-none d-xl-block col-xl-2 my-md-4 pb-md-4 bd-toc bd-toc-default" aria-label="Secondary navigation">
                {% include toc.html %}
            </nav>
            {% endif %}

            <main class="col-md-9 col-xl-8 pt-4 pb-5 pl-md-5 pr-md-5 bd-content" role="main">
                {{content}}
            </main>
        </div>
    </div>

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo= sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ=="></script>
    <script>(window.jQuery || document.write('<script src="{{site.baseurl}}/lib\/jquery\/jquery.min.js?v={{"now" | date: "%s"}}"><\/script>'));</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" crossorigin="anonymous"
            integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4= sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd sha512-oBTprMeNEKCnqfuqKd6sbvFzmFQtlXS3e0C/RGFV0hD6QzhHV+ODfaQbAlmY6/q0ubbwlAM/nCJjkrgA3waLzg=="></script>
    <script>((window.jQuery && window.jQuery.fn && window.jQuery.fn.modal) || document.write('<script src="{{site.baseurl}}/lib\/bootstrap\/js\/bootstrap.min.js?v={{"now" | date: "%s"}}"><\/script>'));</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"
            crossorigin="anonymous" integrity="sha256-+nuEu243+6BveXk5N+Vbr268G+4FHjUOEcfKaBqfPbc= sha384-ugp/e34LtoER7mwf3SLygR0OL+STa4FTLzk7MRbpY/usE4VV+24hBxRXRS6g5ZJy sha512-JZSo0h5TONFYmyLMqp8k4oPhuo6yNk9mHM+FY50aBjpypfofqtEWsAgRDQm94ImLCzSaHeqNvYuD9382CEn2zw=="></script>
    <script src="{{site.baseurl}}/lib/fluidbox/js/jquery.fluidbox.min.js"></script>
    {% if jekyll.environment == "production" %}
    <script src="{{site.baseurl}}/js/ga.js?v={{'now' | date: "%s"}}"></script>
    {% else %}
    <script src="{{site.baseurl}}/js/ga-noop.min.js"></script>
    {% endif %}
    <script src="{{site.baseurl}}/js/bit.js?v={{'now' | date: "%s"}}"></script>

    {% for script in page.custom-script-list %}
    <script src="{{ script }}?v={{'now' | date: "%s"}}"></script>
    {% endfor %}
</body>
</html>
